@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    ViewBag.Title = "Choose Suppliers";
    PurchaseOrder order = (PurchaseOrder)ViewData["order"];
    List<Inventory> items = (List<Inventory>)ViewData["orderItems"];
}

<h2>Choose Alternative Suppliers</h2>

<div>
    @using (Html.BeginForm("ChooseSuppliers", "PurchaseOrder", FormMethod.Post))
    {
        @Html.HiddenFor(m => order.OrderNumber)

        <table>
            <tr>
                <th>Change Supplier To</th>
                <th>Item Number</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price ($)</th>
            </tr>

            @foreach (var item in items)
            {
                if (@item.IsChecked)
                {
                    <tr>
                        <td>@item.ItemCode</td>
                        <td>@item.ItemCode</td>
                    </tr>

                }

            }
            <tr>
                <td colspan="6" align="right"><input type="submit" value="Confirm Changes"></td>
            </tr>
        </table>

    }
</div>

<style>
    td {
        padding: 2px;
        width: 200px;
    }

    tr {
        height: 40px;
        padding: 2px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>

