@model SSISTeam9.Models.PurchaseOrder

@using SSISTeam9.Models;
@{
    PurchaseOrder order = (PurchaseOrder)ViewData["order"];
}

<h2>Update Purchase Order</h2>

@foreach (var item in order.ItemDetails)
{
    <p>@item.Item.Description</p>
}

<p>@order.DeliverTo</p>


