@model SSISTeam9.Models.Requisition
@using SSISTeam9.Models
@{
    var requisitions = (List<Requisition>)ViewData["requisitionsToProcess"];

}

@{
    if (requisitions.Count == 0)
    {
        <h2>No pending requisitions</h2>
    }
    else
    {
        <table>
            <tr>
                <th>RequisitionID</th>
                <th>Employee Name</th>
            </tr>

            @foreach (var requisition in requisitions)
            {
                <tr>

                    <td>@Html.ActionLink(@requisition.ReqId.ToString(), "GetRequisitionDetails", new { reqId=@requisition.ReqId})</td>
                    <td>@requisition.Employee.EmpName</td>
                </tr>
            }
        </table>
    }

}