@model SSISTeam9.Models.RequisitionDetails
@using SSISTeam9.Models
@{
    var requisitionDetails = (List<RequisitionDetails>)ViewData["requisitionDetails"];
    var reqId = (long)ViewData["reqId"];
    var appStatus = "approve";
    var rejStatus = "reject";
}

@{

    <form method="post">
        <table>
            <tr>
                <th>Description</th>
                <th>UnitOfMeasure</th>
                <th>Quantity</th>
            </tr>

            @foreach (var detail in requisitionDetails)
            {
                <tr>

                    <td>@detail.Item.Description</td>
                    <td>@detail.Item.UnitOfMeasure</td>
                    <td>@detail.Quantity</td>
                </tr>
            }
            <tr>
                <td></td>
                <td><button type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@reqId&status=@appStatus"><span>Approve</span></button></td>
                <td><button type="submit" id=reqId formaction="/Requisition/ProcessRequisition?reqId=@reqId&status=@rejStatus"><span>Reject</span></button></td>
            </tr>
        </table>
    </form>

}