@model SSISTeam9.Models.RequisitionDetails
@using SSISTeam9.Models
@{
    var requisitionDetails = (List<RequisitionDetails>)ViewData["requisitionDetails"];
    var reqId = (long)ViewData["reqId"];
    var sessionId = (string)ViewData["sessionId"];
}
Requisition ID : @reqId
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>UnitOfMeasure</th>
                <th>Quantity</th>
            </tr>

            @foreach (var detail in requisitionDetails)
            {
                <tr>

                    <td>@detail.Item.Description</td>
                    <td>@detail.Item.UnitOfMeasure</td>
                    <td>@detail.Quantity</td>
                </tr>
            }
            
        </table>