<!DOCTYPE html>
@using SSISTeam9.Models
@{
    var outstandingrequisitions = (List<Requisition>)ViewData["outstandingReqs"];
    
    var sessionId = ViewData["sessionId"];

}
<html>
<head>
    <title></title>
</head>
<body>
 @foreach(var req in outstandingrequisitions){

     @req.Employee.EmpId
 }


</body>
</html>
