/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.dptnavbar {
  background-color: #237a20;
  background-image: none;
}

.strnavbar {
    background-color: #1e1f1e;
    background-image: none;
}

.nav-link {
    color: #000;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}
