@using SSISTeam9.Models
@{
    var currentHead = (Employee)ViewData["currentHead"];
    var sessionId = (string)ViewData["sessionId"];
}

<h2>ViewRemoveDelegate</h2>

<form method="post" action="@Url.Action("ViewRemoveDelegate","Delegate",new { })">
    Current Delegate : @currentHead.EmpName
    <button type="submit" formaction="/Delegate/ViewRemoveDelegate?headId=@currentHead.EmpId&sessionId=@sessionId">Remove</button>
</form>
