@model SSISTeam9.Models.Inventory

@using SSISTeam9.Models;
@{
    Inventory catalogue = (Inventory)ViewData["catalogue"];
    PriceList pricelist = (PriceList)ViewData["pricelist"];
}

<h2 style="text-align:center">Stock Card</h2>