@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Store.cshtml";

    string userName = (string)ViewData["userName"];
    string sessionId = (string)ViewData["sessionId"];
}

<p style="font-size:14px;text-align: center;">Welcome @userName</p>
<p style="font-size:30px;text-align: center;">University Store Home Page</p>

<style>
    .p {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

@*This error msg for stock check*@
@Html.Raw(TempData["errorMsg"])