@using SSISTeam9.Models
@{
    Layout = "~/Views/Shared/_Store.cshtml";
    ViewBag.Title = "ViewAllDisbursements";
}
@{
    var disbursementLists = (List<DisbursementList>)ViewData["disbursements"];
    var collectionPt = (string)ViewData["collectionPoint"];
    var sessionId = (string)ViewData["sessionId"];
}

@switch (collectionPt)
{
    case "1":
        <h2>Stationary Store - Administration Building</h2>
        break;
    case "2":
        <h2>Management School</h2>
        break;
    case "3":
        <h2>Medical School</h2>
        break;
    case "4":
        <h2>Engineering School</h2>
        break;
    case "5":
        <h2>Science School</h2>
        break;
    case "6":
        <h2>University Hospital</h2>
        break;
    default:
        <h2>Stationary Store - Administration Building</h2>
        break;

}
        <select onchange="location = this.options[this.selectedIndex].value;">
            <option>Select</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=1&sessionId=@sessionId">Stationary Store(Admin)</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=2&sessionId=@sessionId">Management School</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=3&sessionId=@sessionId">Medical School</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=4&sessionId=@sessionId">Engineering School</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=5&sessionId=@sessionId">Science School</option>
            <option value="/Disbursement/ViewAllDisbursements?collectionPt=6&sessionId=@sessionId">University Hospital</option>
        </select>

@if (disbursementLists.Count != 0)
{
    <div class="row justify-content-center">
    <table class="table table-bordered col-3 align-self-center">
        <tr class="text-center">
            <th>Dept Name</th>
        </tr>
        @foreach (var disbursement in disbursementLists)
        {
            <tr class="text-center">

                <td><a href="/Disbursement/ViewDisbursementDetails?listId=@disbursement.ListId&collectionPt=@collectionPt&sessionId=@sessionId">@disbursement.Department.DeptName</a></td>

            </tr>
        }
    </table>
    </div>
}
else
{
      <div class="text-center">No Disbursement lists to display</div>
}


