@model SSISTeam9.Models.Employee
@using SSISTeam9.Models
@{
    var employees = (List<Employee>)ViewData["employees"];
    var repEmp = new Employee();
    var sessionId = (string)ViewData["sessionId"];
    foreach (var employee in employees)
    {
        if (employee.EmpRole.Equals("REPRESENTATIVE"))
        {
            repEmp = employee;
        }
    }
}
<h2>ChangeRepresentative</h2>

Current Representative : @repEmp.EmpName

<form action="~/Representative/ChangeRepresentative" method="post">
    <input type="hidden" value="@sessionId" name="sessionId"/>
    <table>
        <tr>
            <td>
                <select name="employee" id="empList">
                    @foreach (var employee in employees)
                    {
                        if (repEmp != employee)
                        {
                            <option value="@employee.EmpId">@employee.EmpName</option>
                        }
                    }
                </select>
            </td>
            <td>
                <button type="submit" id="">Change</button>
            </td>
        </tr>
    </table>
</form>

@*formaction="/Representative/ChangeRepresentative?sessionId=@sessionId"*@